<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  border-radius: 30px;
}

h1, .tab {
  text-align: center;  
}

</style>

<head>
  <title>Topup</title>
</head>

<body>

<form id="regForm">
  {% if complete %}
  <h1 style="color: #4caf50;">The Topup was successfull:</h1>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <p>You can add more funds to you wristband 
        <a href="/topup" style="text-decoration: none;">here</a>
        .
    </p>
  </div>
  {% else %}
  <h1 style="color: #ff6e6e;">The Topup failed:</h1>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <p>Sorry for the inconvenience, please try again 
        <a href="/topup" style="text-decoration: none;">here</a>
        .
    </p>
  </div>
  {% endif %}
</form>

</body>
</html>
